@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* rotating-border.css */
.rotating-border {
  background: conic-gradient(#0fc573, #1a1a1a, #0fc573);
  animation: spin 4s linear infinite;
  border-radius: 9999px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

